<app-header></app-header>

<div class="breadcrumbs">
  <div class="container-fluid" style="width:95%;padding-top: 25px;">
    <h5>{{ 'order-table.title' | translate }}</h5>
    <p id="breadcrumb">
      <a [routerLink]="['/']"
        ><i class="fas fa-home"></i> {{ 'breadcrumb.home' | translate }}
      </a>
      <span> > </span> {{ 'order-table.title' | translate }}
    </p>
  </div>
</div>

<div class="container-fluid table-container">
  <mat-form-field>
    <input
      matInput
      (keyup)="applyFilter($event.target.value)"
      placeholder="{{ 'material-table.search' | translate }}"
    />
  </mat-form-field>

  <button
    type="button"
    class="btn dropdown-toggle columns-filter-btn"
    data-toggle="dropdown"
    aria-haspopup="true"
    aria-expanded="false"
    mat-icon-button
  >
    <i class="fas fa-filter"></i>
    <div class="dropdown-menu">
      <mat-checkbox
        class="dropdown-item filter-checkbox"
        (click)="$event.stopPropagation()"
        >Po</mat-checkbox
      >
      <mat-checkbox
        class="dropdown-item filter-checkbox"
        (click)="$event.stopPropagation()"
        >ISBN</mat-checkbox
      >
      <mat-checkbox
        class="dropdown-item filter-checkbox"
        (click)="$event.stopPropagation()"
        >Color</mat-checkbox
      >
      <mat-checkbox
        class="dropdown-item filter-checkbox"
        (click)="$event.stopPropagation()"
        >Due</mat-checkbox
      >
      <mat-checkbox
        class="dropdown-item filter-checkbox"
        (click)="$event.stopPropagation()"
        >Qty</mat-checkbox
      >
      <mat-checkbox
        class="dropdown-item filter-checkbox"
        (click)="$event.stopPropagation()"
        >Duration</mat-checkbox
      >
      <mat-checkbox
        class="dropdown-item filter-checkbox"
        (click)="$event.stopPropagation()"
        >Imposition</mat-checkbox
      >
      <mat-checkbox
        class="dropdown-item filter-checkbox"
        (click)="$event.stopPropagation()"
        >priority</mat-checkbox
      >
      <mat-checkbox
        class="dropdown-item filter-checkbox"
        (click)="$event.stopPropagation()"
        >Binding</mat-checkbox
      >
    </div>
  </button>
  <!-- Table check btn-->
  <button class="btn float-right table-add-btn" mat-icon-button>
    <i class="fas fa-check"></i>
  </button>

  <div>
    <table
      mat-table
      [dataSource]="dataSource"
      matSort
      class=" table-hover table-responsive table-responsive-sm"
    >
      <!-- Checkbox Column -->
      <ng-container matColumnDef="select">
        <th mat-header-cell *matHeaderCellDef class="mat-column-checkbox">
          <mat-checkbox
            (change)="$event ? masterToggle() : null"
            [checked]="selection.hasValue() && isAllSelected()"
            [indeterminate]="selection.hasValue() && !isAllSelected()"
            [aria-label]="checkboxLabel()"
          >
          </mat-checkbox>
        </th>
        <td mat-cell *matCellDef="let row" class="mat-column-checkbox">
          <mat-checkbox
            (click)="$event.stopPropagation()"
            (change)="$event ? selection.toggle(row) : null"
            [checked]="selection.isSelected(row)"
            [aria-label]="checkboxLabel(row)"
          >
          </mat-checkbox>
        </td>
      </ng-container>
      <!-- Column -->
      <ng-container matColumnDef="orderId">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>
          {{ 'order-table.order-id' | translate }}
        </th>
        <td mat-cell *matCellDef="let element">
          {{ element.orderId }}
        </td>
      </ng-container>

      <!-- Column -->
      <ng-container matColumnDef="po">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>
          {{ 'order-table.po' | translate }}
        </th>
        <td mat-cell *matCellDef="let element">{{ element.po }}</td>
      </ng-container>

      <!-- Column -->
      <ng-container matColumnDef="isbn">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>
          {{ 'order-table.isbn' | translate }}
        </th>
        <td mat-cell *matCellDef="let element">{{ element.isbn }}</td>
      </ng-container>

      <!-- Column -->
      <ng-container matColumnDef="color">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>
          {{ 'order-table.color' | translate }}
        </th>
        <td mat-cell *matCellDef="let element">{{ element.color }}</td>
      </ng-container>

      <!-- Column -->
      <ng-container matColumnDef="due">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>
          {{ 'order-table.due' | translate }}
        </th>
        <td mat-cell *matCellDef="let element">{{ element.due }}</td>
      </ng-container>

      <!-- Column -->
      <ng-container matColumnDef="qte">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>
          {{ 'order-table.quantity' | translate }}
        </th>
        <td mat-cell *matCellDef="let element">
          {{ element.qte }}
        </td>
      </ng-container>

      <!-- Column -->
      <ng-container matColumnDef="duration">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>
          {{ 'order-table.duration' | translate }}
        </th>
        <td mat-cell *matCellDef="let element">{{ element.duration }}</td>
      </ng-container>

      <!-- Column -->
      <ng-container matColumnDef="imposition">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>
          {{ 'order-table.imposition' | translate }}
        </th>
        <td mat-cell *matCellDef="let element">{{ element.imposition }}</td>
      </ng-container>

      <!-- Column -->
      <ng-container matColumnDef="priority">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>
          {{ 'order-table.priority' | translate }}
        </th>
        <td mat-cell *matCellDef="let element">{{ element.priority }}</td>
      </ng-container>

      <!-- Column -->
      <ng-container matColumnDef="binding">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>
          {{ 'order-table.binding' | translate }}
        </th>
        <td mat-cell *matCellDef="let element">{{ element.binding }}</td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>

    <mat-paginator
      [pageSize]="5"
      [pageSizeOptions]="[5, 10, 20]"
      showFirstLastButtons
    ></mat-paginator>
  </div>
</div>
<br />
<app-footer></app-footer>
