<nav
  class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow"
>
  <!-- Topbar Navbar -->
  <ul class="navbar-nav ml-auto">
    <div class="topbar-divider d-none d-sm-block"></div>
    <!-- Nav Item - Messages -->
    <li class="nav-item dropdown no-arrow mx-1">
      <a
        class="nav-link dropdown-toggle"
        href="#"
        id="messagesDropdown"
        role="button"
        data-toggle="dropdown"
        aria-haspopup="true"
        aria-expanded="false"
      >
        <i class="fas fa-envelope fa-fw"></i>
        <!-- Counter - Messages -->
        <span class="badge badge-danger badge-counter">2</span>
      </a>
      <!-- Dropdown - Messages -->
      <div
        class="dropdown-list dropdown-menu dropdown-menu-right shadow animated--grow-in"
        aria-labelledby="messagesDropdown"
      >
        <h6 class="dropdown-header">
          CENTRE DE MESSAGERIE
        </h6>
        <ng-container>
          <a
            class="dropdown-item d-flex align-items-center "
            href="#"
            data-toggle="modal"
          >
            <div class="dropdown-list-image mr-3 ">
              <img
                class="rounded-circle"
                src="https://i.pravatar.cc/300"
                style="width: 45px;height:45px;"
                alt=""
              />
              <!-- <div class="status-indicator bg-success"></div> -->
            </div>
            <div class="font-weight-bold">
              <div class="text-truncate">
                text 1
              </div>
              <div class="small text-gray-500">
                name · date
              </div>
            </div>
          </a>
        </ng-container>
        <a
          class="dropdown-item text-center small text-gray-500"
          routerLink="/admin/contacts"
          >Read More Messages</a
        >
      </div>
    </li>

    <div class="topbar-divider d-none d-sm-block"></div>

    <!-- Nav Item - User Information -->
    <li class="nav-item dropdown no-arrow">
      <a class="nav-link dropdown-toggle" href="#">
        <span class="mr-2 d-none d-lg-inline text-gray-600 small"
          >Bilel bilel</span
        >
        <img
          class="img-profile rounded-circle"
          src="https://i.pravatar.cc/300"
        />
      </a>
      <!-- Dropdown - User Information -->
      <div
        class="dropdown-menu dropdown-menu-right shadow animated--grow-in"
        aria-labelledby="userDropdown"
      >
        <a class="dropdown-item" href="#">
          <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
          Profile
        </a>
        <div class="dropdown-divider"></div>
        <a
          class="dropdown-item"
          href="#"
          data-toggle="modal"
          data-target="#logoutModal"
        >
          <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
          Logout
        </a>
      </div>
    </li>
  </ul>
</nav>
